   body {
       font-family: 'Raleway', sans-serif;
       padding: 1rem 4rem;
   }

   .heading {
       margin: 1rem;
   }

   .title {
       margin: 1rem;
   }

   .title h1 {
       font-family: 'Raleway', sans-serif;
       font-size: 40px;
       font-weight: 900;

   }

   .hr1 {
       height: 1px;
   }

   #nav {
       display: flex;
       text-transform: uppercase;
       gap: 2rem;
       margin: 0 2rem;
   }

   #nav a {
       color: #222;
       text-decoration: none;
   }

   #nav a:hover,
   #home h1:hover,
   .about-us h2:hover {
       color: #008285;
   }

   hr {
       background-color: #222;
       margin: 1rem;
   }

   .banner {
       margin: 1.8rem;
   }

   .tagline {
       background-color: #f5f5f5;
       padding: 20px 40px;
       width: 50%;
       font-size: 20px;
       margin: 1.3rem;
   }

   #home {
       margin: 0 2rem;
   }

   #home h1,
   .about-us h2 {
       font-size: 35px;
       font-weight: 500;

   }

   .pomodoro {
       background-color: #f5f5f5;
       padding: 1rem;
   }

   .pomodoro,
   .integrate {
       margin-top: 5rem;
   }

   .pomodoro h2,
   .integrate h2 {
       font-weight: 500;
       color: #008285;
       text-align: center;

   }

   .pomodoro img {
       width: 500px;
       height: 400px;

   }

   .technique,
   .mindfulness,
   #contact {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 2rem;
       margin: 1rem;

   }


   .pomodoro p,
   .mindfulness p {
       line-height: 1.5;
   }

   .forms {
       display: flex;
       flex-direction: column;
       gap: 0.5rem;
       margin: 1rem;

   }

   input {
       height: 30px;
       border-radius: 5px;
       border: 1px solid #222;
   }

   label {
       color: #008285;

   }

   button {
       width: 30%;
       border: 1px solid #222;
       background-color: #f5f5f5;
       border-radius: 5px;
       margin: 1rem;
       cursor: pointer;
       font-weight: 600;
       padding: .5rem;

   }

   .email {
       display: flex;
       align-items: center;
       gap: 0.5rem;

   }

   .socials {
       display: flex;
       flex-direction: column;
       gap: 1rem;

   }




   footer {
       background-color: #f5f5f5;
       padding: 20px;
       text-align: center;
       font-size: 14px;
       color: #666;
   }